@import "./config/variables";

@font-face {
  font-family: "consola";
  src: url("./assets/font/consola.ttf") format(truetype);
}

body {
  background-color:$bgMain;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

h1,
.number {
  text-align: center;
  font-family: consolas;
}

.number {
  font-size:3rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .btn {
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color:$btnColor;
    font-size: 1rem;
    font-weight: bold;
  }
}

.box__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .intro,
  .answer {
    border: 2px solid black;
    height: 5rem;
  }
}

.boxText{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;

  p{
    flex-basis: 30%;
    text-align: center;
    color: white;
    font-size: 1rem;
  }
}

input {
  text-align: center;
  font-size: 50px;
  width: 20%;
}

.colorSuccess{
  background-color:$successColor;
}

.colorAlert{
  background-color:$alertColor ;
  color: white;
}

